---
exchangeStrategies:
- on: binance
  autoborrow:
    interval: 30m
    autoRepayWhenDeposit: true

    # minMarginRatio for triggering auto borrow
    # we trigger auto borrow only when the margin ratio is above the number
    minMarginLevel: 3.0

    # maxMarginRatio for stop auto-repay
    # if the margin ratio is high enough, we don't have the urge to repay
    maxMarginLevel: 20.0

    marginRepayAlert:
      slackMentions:
      - '<@USER_ID>'
      - '<!subteam^TEAM_ID>'

    marginLevelAlert:
      interval: 5m
      minMargin: 2.0
      slackMentions:
      - '<@USER_ID>'
      - '<!subteam^TEAM_ID>'

    assets:
    - asset: ETH
      low: 3.0
      maxQuantityPerBorrow: 1.0
      maxTotalBorrow: 10.0

    - asset: USDT
      low: 1000.0
      maxQuantityPerBorrow: 100.0
      maxTotalBorrow: 10.0

