persistence:
  json:
    directory: var/data
  redis:
    host: 127.0.0.1
    port: 6379
    db: 0

sessions:
  binance:
    exchange: binance
    envVarPrefix: binance

exchangeStrategies:
- on: binance
  emacross:
    symbol: BTCUSDT
    # interval: 5m
    # fastWindow: 6
    # slowWindow: 18
    # quantity: 0.01
    leverage: 2

backtest:
  startTime: "2022-01-01"
  endTime: "2022-03-01"
  symbols:
  - BTCUSDT
  sessions: [max,binance]
  # syncSecKLines: true
  accounts:
    binance:
      makerFeeRate: 0.0%
      takerFeeRate: 0.075%
      balances:
        BTC: 0.0
        USDT: 10_000.0
