---
notifications:
  slack:
    defaultChannel: "bbgo"
    errorChannel: "bbgo-error"
  switches:
    trade: true
    orderUpdate: true
    submitOrder: true

backtest:
  startTime: "2022-01-01"
  endTime: "2022-10-01"
  symbols:
  - BTCUSDT
  - ETHUSDT
  - MAXUSDT
  account:
    max:
      makerFeeRate: 0.075%
      takerFeeRate: 0.075%
      balances:
        BTC: 0.0
        ETH: 0.0
        MAX: 0.0
        USDT: 10000.0

exchangeStrategies:
  - on: max
    rebalance:
      interval: 1d
      quoteCurrency: USDT
      targetWeights:
        BTC: 50%
        ETH: 25%
        USDT: 25%
      threshold: 1%
      maxAmount: 1_000 # max amount to buy or sell per order
      orderType: LIMIT_MAKER # LIMIT, LIMIT_MAKER or MARKET
      dryRun: false
      onStart: true
